<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/css/style.css">
</head>

<body>

<div class="header">
    <h1>TODO APP</h1>
    <input type="text" id="myInput" placeholder="Add todo">
    <div class="add">Add</div>
</div>
<section class="btn-group">
    <button>ALL</button>
    <button>COMPLETED</button>
    <button>PENDING</button>
</section>
<ul>
    <li>buy the milk</li>
    <li>rent a car</li>
    <li>feed the cat</li>
</ul>


</body>
</html>
